build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
    cd ./ && make
deploy:
  type: text
  content: |
    #/bin/sh
    <<'###'
    Sample Deploy Instructions

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###


    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"
    helm upgrade cdk-deploy-test-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS
test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Aishwarya Rane
lastUpdatedOn: 2022-11-18T08:04:42.025Z
